{
  "email": "{{ rbw_config.email }}",
  "base_url": "{{ rbw_config.base_url }}",
  "identity_url": "{{ rbw_config.identity_url }}",
  "ui_url": "{{ rbw_config.ui_url }}",
  "notifications_url": "{{ rbw_config.notifications_url }}",
  "lock_timeout": {{ rbw_config.lock_timeout }},
  "sync_interval": {{ rbw_config.sync_interval }},
  "pinentry": "{{ rbw_config.pinentry }}"
}
